# Day 6

In [4]:
list = [1,'teja',1.22]
list.append("sai")
print(list)
list.extend(["gitam",'University'])
list.insert(4,"Gitam")
print(list)

[1, 'teja', 1.22, 'sai']

[1, 'teja', 1.22, 'sai', 'Gitam', 'gitam', 'University']

In [8]:
#del list[6]
print(list)
list.pop() #returns the element to be removed
list

[1, 'teja', 1.22, 'sai', 'Gitam', 'gitam']

[1, 'teja', 1.22, 'sai', 'Gitam']

In [11]:
list.append(1)
a=list.remove(1)
print(a)
list

None

['teja', 1.22, 'sai', 'Gitam', 1]

In [14]:
list1 = [1,'teja',1.22]
list.remove(1.22)
list

['teja', 'sai', 'Gitam']

In [15]:
list[0] ="pulluri"
list

['pulluri', 'sai', 'Gitam']

In [23]:
list.append("1")
list.sort(reverse=True)
list

['sai', 'pulluri', 'Gitam', 'Ga', 'Ga', '1']

In [22]:
list.index("pulluri")

1

In [28]:
list1.clear() #list is empty
del list1 #doesn't exist

In [29]:
list1

NameError: name 'list1' is not defined

In [30]:
list

list

In [37]:
list1 = [1,'teja',1.22]
list2 =[]
list2=list1.copy() #doesn't include changes in original list
list3=list1 # include changes in original list
list2

[1, 'teja', 1.22]

In [39]:
list3
list1.append("sa")
print(list1,list2,list3)

[1, 'teja', 1.22, 'sa'] [1, 'teja', 1.22] [1, 'teja', 1.22, 'sa']

# accept marks in list n print tot

In [61]:
lis = []
tot=0
n=int(input())
for i in range(n):
    lis.append(int(input()))
    tot=lis[i]
print(tot)

3
1
2
3
3

In [49]:
li =map(int,input().split())
print(sum(li))

2 3 4
9

In [64]:
li_max =map(int,input().split())
li_max.sort()
print(li_max[n-1])

1 2 3 4

AttributeError: 'map' object has no attribute 'sort'

In [1]:
t = (1,1,1)
li =list(t)
li[1]=2
li[2]=3
t=tuple(li)
t

(1, 2, 3)

In [68]:
t = {1,2,3}
t

{1, 2, 3}

In [72]:
tu = (1,2,3)
tu[1]

2

In [2]:

li =list(t)
li.append(4)
t=tuple(li)
t

(1, 2, 3, 4)

# Dictionary

In [9]:
s1 = {"name" :"sai","roll number":12,"course":"cse"}
s1["address"] ="miyapur"
s1["name"]="teja" #overwrite same value key
s1

{'name': 'teja', 'roll number': 12, 'course': 'cse', 'address': 'miyapur'}

In [11]:
del s1["address"]
s1

{'name': 'teja', 'roll number': 12, 'course': 'cse'}

In [12]:
pwd

'C:\\Users\\TEJA'